.black-font {
    color: black;
}

.btn-orange {
    background-color: #EA6A2A;
    color: white;
    border-color: #b04611;
}

.btn-orange:hover {
    background-color: #b04611;
    color: white;
}

.inline-btn-group *{
    display: inline-block;
}

.btn-blue {
    background-color: #215B77;
    color: white;
    border-color: #0F2A37;
}

.btn-blue:hover {
    background-color: #0F2A37;
    color: white;
}

.home-page-header {
    background-color: #373751;
    margin-bottom: 1em;
}

#top {
    margin-bottom: 0 !important;
}

.home-page-header {
    text-align: center;
    padding: 30px 0;
}

.home-page-header h1 {
    font-size: 60px;
    color: white;
}

.home-page-header h1 > small, .home-page-header p {
    color: white;
    opacity: .7;
}

.form-container {
    padding-top: 30px;
    padding-bottom: 30px;
}
